setuptools>=65.5.0
python-dotenv>=0.19.0
tqdm>=4.0.0
sqlalchemy>=1.4.0
PyYAML>=6.0.2
pydantic>=2.10.6
Jinja2~=3.1.5
pandas>=2.2.3
openai>=1.61.1
httpx[socks]
pytest>=8.3.4
PyPDF2>=3.0.1
python-docx>=1.1.2
python-pptx>=1.0.2
openpyxl>=3.1.5
llama-index-core>=0.12.16.post1
marko>=2.1.2
networkx>=2.7.1
neo4j>=5.28.1
trafilatura>=2.0.0
bs4>=0.0.2
lxml-html-clean>=0.4.1
readability-lxml>=0.8.1
boilerpy3>=1.0.7